.card-estilos{
    border-radius: 10px;
    background-color: black;
    color: rgb(44, 24, 24);   
}

.card-img-top{
    border-radius: 10px;
    margin-top: 40px;
    
}

.card-title{
    margin-top: 7px;
}
h1,h2,h3,h4,h5{
    color: rgb(73, 122, 73);
}
.card-title{
    color: rgb(72, 110, 72);
}
.card-text{
    color: rgb(205, 228, 205);
}